h1, h2, h3, ul, li {
	margin: 0;
	padding: 0;
}

p, ul, h1, h2 {
	margin: 1rem 0;
}

ul {
	padding-left: 1rem;
}

body {
	margin: 0 auto;
	padding: 0 1ch;
	max-width: 82ch;
}

.footnotes {
	margin-top: 2rem;
	border-top: 1px solid gray;
}

/*****************************
 * Header
 ****************************/
header {
	display: flex;
	align-items: stretch;
	padding-top: 0.7rem;
	border-bottom: 2px solid #e73e7e;

	img {
		/* Image is 71x100 */
		height: 2.8rem;
		width: 1.988rem;
	}
}

a {
	&.site-title {
		color: #555;
		font-size: 1.5rem;
		margin-left: 0.3rem;
	}

	&.site-title {
		text-decoration: none;
		font-size: rem;
		line-height: 2rem;
	}

	&.site-title:hover {
		color: #e73e7e;
	}
}

.site-sub-title {
	color: #555;
	font-size: 0.7rem;
}

/*****************************
 * Post list
 ****************************/
ul.post-list {
	padding: 0 1rem;
	color: #555;
	list-style-type: none;

	li {
		display: flex;
		align-items: baseline;
	}

	h2 {
		font-size: 1.3rem;
		margin: 0.5rem 0;
		font-weight: 500;
	}

	a {
		text-decoration: none;
		color: #444;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	.separator {
		flex-grow: 1;
		border-bottom: 2px dotted gray;
		margin: 0 0.3rem;
	}
}

/*****************************
 * Footer
 ****************************/
footer {
	margin: 3rem 0;
	text-align: center;
}
